<%= render "shared/blog_nav",
  img_bg: "home-blog-bg.jpg",
  head: "site-heading",
  title: "Development Diary",
  subtitle: "Paulo's Dev Blog" %>

<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-10 mx-auto">
      <%= render @blogs %>
    </div>
    <%= render "shared/blog_sidebar" %>
  </div>
</div>

<hr>
