<%= render "shared/blog_masthead",
  head: "site-heading",
  title: "New Post" %>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-3 col-md-10 mx-auto">
        <%= render 'form', blog: @blog %>
        <%= back_btn %>
      </div>
      <%= render "shared/blog_sidebar" %>
    </div>
  </div>
</article>

<hr>
