<%= render "shared/blog_masthead",
  img_bg: "blog_bg.jpg",
  head: "site-heading",
  title: "Development Diary",
  subtitle: "Paulo's Dev Blog" %>

<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-10 mx-auto infinite-table">
      <h1>Topics</h1>
      <%= render @topics %>
    </div>
    <%= render "shared/blog_sidebar" %>
  </div>
</div>

<hr>
