<%= render "shared/blog_masthead",
  img_bg: "blog_bg.jpg",
  head: "site-heading",
  title: "Development Diary",
  subtitle: "Paulo's Dev Blog" %>

<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-10 mx-auto infinite-table">
      <%= @topic.title %>
    </div>
    <%= render "shared/blog_sidebar", topics: @topics %>
  </div>
  <div class="pagination pgn-style">
    <%= link_to_next_page(@blogs, 'Load older post...', remote: true, class: 'btn btn-link') %>
  </div>
</div>

<hr>
