<div class="form-group nested-fields">
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :name, placeholder: 'Technology', class: "form-control" %>
    </div>
    <div class="col-md-6">
      <span class="fa-stack">
        <%= link_to_remove_association '', f, class: "fa fa-minus-circle fa-stack-2x rem-btn" %>
      </span>
    </div>
  </div>
</div>
