<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <%= set_copyright "copyright text-muted" %>
      </div>
    </div>
    <div class="div-link">
      <a href="#" class="btn btn-link link-footer">Go to the top of the page</a>
    </div>
  </div>
</footer>
