<div class="col-sm-3 blog-sidebar">
  <%= new_post_btn %>
  <br>
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>My name is Paulo Borba, and this is my personal blog, where I post some tech tips, some personal/professional histories and the development of my personal projects.</p>
  </div>
  <div class="sidebar-module">
    <h4>Blog's Topics</h4>
    <%= render partial: "topics/topic", collection: topics %>
    </div>
  <div class="sidebar-module">
    <h4>Social Media</h4>
    <br>
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <%= link_to "https://twitter.com/pauloesb_", target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
      </li>
      <li class="list-inline-item">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div><!-- /.blog-sidebar -->
