<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Paulo Borba's Portfolio</h1>
    <p class="lead text-muted">Welcome to my portfolio. In here I've listed some project's that I've worked on it. Feel free to take a look, I don't have many projects but what it matters is the quality of development.</p>
    <p>
      <%= link_to "Find Out More About Me", about_me_path, class: "btn btn-primary my-2" %>
      <%= link_to "My Blog", blogs_path, class: "btn btn-secondary my-2" %>
    </p>
  </div>
</section>
