<div class="about-me-page">
  <h1>About Me</h1>

  <hr>

  <div class="row">
    <div class="col-md-5">
      <%= image_tag "home-about-me-profile.png", width: 300, alt: "profile image" %>
    </div>
    <div class="col-md-7 about-me">
      <p>Hi, my name is Paulo Borba, I have 26 years, I’m a Software Engineer, that is still studying to become a Full Stacker Developer, and this is my personal website. The proposal of this website is to show a little more about my work and capabilities, and also, it’s a form to keep up with my knowledge, studying and applying the all the forms of knowledge to produce a high quality of work (in this case code).</p>

      <p>A little more about myself as a person, I like animes, games, TV series and also, I like to learn the new frameworks to keep up with the market and to keep always updated. My main interests are Machine Learning, Blockchain, Artificial Intelligence, IOS/Android Dev. And currently I’m focused to learn more about React and Angular and to hone my skills as a back-end developer and learn more about front-end development, so I can become a Full Stacker Developer.</p>

      <p>If you want to work together let me know I will be waiting for your contact.</p>
    </div>
  </div>

  <hr>
</div>
