<div class="app-card-container">
  <div class="card">
    <div class="card-body contact-page">
      <h1>Would you like to work together?</h1>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <h3>Email</h3>
          <p><a href="mailto:pauloesb@gmail.com?subject=PortfolioContact" "Email Me">Email me</a></p>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div>
